
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    max-width: 28%;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
}

.create-post-modal-content {
    background-color: #fefefe;
    max-width: 80%;
    margin: auto;
    margin-top: -50px;
    padding: 20px;
    border: 1px solid #888;
}

.signup-heading,
.signin-heading {
    font-size: 35px;
    font-family: Arial;
    color: grey;
    padding: -30px;
    margin-top: -50px;
    margin-bottom: -20px;
    margin-left: -2px;
}

.create-post-heading {
    font-size: 35px;
    font-family: Arial;
    color: grey;
    padding: -30px;
    margin-top: -40px;
    margin-bottom: -20px;
    margin-left: -2px;
}

hr {
    margin-top: -30px;
}

/* The Close Button */
.signupClose,
.signinClose,
.createpostClose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.signupClose:hover,
.signupClose:focus,
.signinClose:hover,
.signinClose:focus,
.createpostClose:hover,
.createpostClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.sign-up-btn, 
.sign-in-btn {
    color: white;
    background-color: green;
    padding: 1.5%;
    font-size: 25px;
    border: none;
    margin-top: 10px;
}

.create-post-btn {
    color: white;
    background-color: green;
    padding: 10px;
    font-size: 20px;
    border: none;
    width: fit-content;
    margin-top: 10px;
    margin-right: 45%;
    margin-left: 45%;   
}

.signup-box,
.signin-box,
.create-post-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-box input,
.signin-box input,
.create-post-box input {
    border: none;
    background-color: gainsboro;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
}

.create-post-box textarea {
    border: none;
    background-color: gainsboro;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
}

.signup-box label,
.signin-box label,
.create-post-box label {
    font-size: 25px;
    font-family: Arial;
    margin-bottom: 10px;
}

.signin-last-line {
    font-family: Arial;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -40px;
}

.signuplink {
    color: blue;
    cursor: pointer;
}

body {
    margin: 0;
    background-image: url('../images/background.jpg');
    background-size: cover; /* Ensure the background image covers the entire body */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Prevent the background from scrolling with the page */

}

.main-header {
    padding: 20px 0;
    text-align: center;
    margin-top: -20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    text-align: left;
}

.left-section p {
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.0em;
}

.right-section {
    display: flex;
    align-items: center;
}

.main-heading {
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}


button.sign-up,
button.sign-in {
    background-color: blue;
    font-size: 22px;
    color: #fff;
    margin-right: 10px;
    border: white;
    margin-top: -30px;
    border-radius: 2%;
}


.centered-buttons {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: goldenrod;
    border-color: white;
    border-radius: 2%;
    border-width: medium;
}

@media only screen and (max-width: 1040px){
    .modal-content {
        max-width: 40%;
    }
}

@media only screen and (max-width: 720px){
    .modal-content {
        max-width: 55%;
    }
}

@media only screen and (max-width: 537px){
    .modal-content {
        max-width: 65%;
    }
}

@media only screen and (max-width: 450px){
    .modal-content {
        max-width: 70%;
    }
}

@media only screen and (max-width: 965px){
    .create-post-modal-content {
        max-width: 70%;
    }
}
